.site-template-image {
    border-radius: 100;
    margin: 8 16;
    width: 60;
    height: 60;
}

.site-template-title {
    margin: 0 0 6 0;
    font-size: 18;
}

.site-template-description {
    font-size: 11;
}